.commodity-list{
    .am-navbar-left-icon {
        display: none !important;
    }
    .back-size {
        font-size: 50px;
        color: $color-text-base;
    }
    .banner-img{
        width: 140px;
        height: 140px;
            display: inline-block;
        img{
            width: 140px;
            height: 140px;
        }
    }
    .name{
         display: inline-block;
         position: absolute;
         margin-left: 20px; 
         .title{
                 
                    
                    color: #232326;
                    padding-right: 40px;
                    padding-top: 2px;
         }
    }
}
