
    .slide-box-product {
        background: white;
        min-width: 100%;
        white-space: nowrap;
        overflow-y: auto;
        .per-pro {
            padding: 10px;
            height: 100%;
            width: 30%;
            display: inline-block;
            .img {
                width: 100%;
                height: 180px;
                text-align: center;
                padding: 10px auto;
                img {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 100%;
                    max-height: 100%;
                    height: auto;
                }
            }
            .text {
                font-size: 24px;
                color: #3e403c;
                text-align: center;
                margin-top: 10px;
                .name {
                    display: block;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-break: break-all;
                    height: 54px;
                }
                .price {
                    display: block;
                    margin-top: 10px;
                    ._i {
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        vertical-align: baseline;
                        text-indent: -9999px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        background-image: url(../../assets/images/i-money@3x.png);
                    }
                    .current-price._rmb {
                        color: #FFA40C;
                        font-size: 30px;
                        font-style: initial;
                        font-weight: normal;
                        margin-left: 5px;
                    }
                }
                .v-price{
                    display: block;
                    margin-top: 10px;
                     ._i {
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        vertical-align: baseline;
                        text-indent: -9999px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        background-image: url(../../assets/images/i-check-integ@3x.png);
                    }
                    .current-price._rmb {
                        color: $font-color-point;
                        font-size: 30px;
                        font-style: initial;
                        font-weight: normal;
                        margin-left: 5px;
                    }
                    .v-gray{
                        color: $font-color-gray;
                        margin-left: 10px;
                    }
                }
                
            }
        }
    }
