@import "../../assets/style/theme";

.class-ification-content {
    .banner-image{
        height: 120 *@hd;
        border-radius: @radius-lg;
        border: 1px solid @border-color-base;
    }
    .am-flexbox{
        padding-top: 20px*@hd;
    }
    .text-name{
        width: 80%;
    }
    .grid-icon {
        width: 50*@hd;
        height: 50*@hd;
        border-radius: 100%;
    }
    .am-grid-text {
        font-size: @font-size-caption-sm;
    }
    .imag-div {
        width: 50*@hd;
        height: 50*@hd;
        //border-radius: 100%;
        //background: #E6EBF9;

    }
    .title {
        text-align: center;
        color: @color-text-paragraph;
        font-size: @font-size-caption-sm;
    }
    //.am-tabs * {
    //    box-sizing: content-box !important;
    //}
}
